* {
  background-color: rgb(27, 27, 37);
  color: rgb(52, 171, 192);
}

input {
  background-color: rgba(255, 255, 255, 0.795);
  color: black
}

button {
  background-color: rgba(255, 255, 255, 0.795);
  color:black;
}

.App {
  text-align: center;
}

img {
  width: 200px;
  height: 200px
}



